
html, body {
    background-color: #ebe4af;; 
    scroll-behavior: smooth;
} 


/* Navbar*/
.navbar {
    border: 2px solid transparent;
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 20px;
    text-transform: uppercase;
}
.nav-link{
    font-size: 1.1em !important;
}

.nav-link:hover {
    text-decoration: none;
    border-bottom: 2px solid salmon;
    transition: 0.5 ease;
}
.navbar-brand img{
    width: 50%;
    height: 100px;
    position: relative;
    left: 650px;
    margin-bottom: -100px;
}

/*about*/

#about {
    background: white;
    border-radius: 1rem;
    margin: 100px;
    margin-left: 0px;
    padding: 100px;
    color: #555;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
#about h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: salmon;
    font-size: xx-large;
}
#about h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    
}
.about_row img{
    width: auto;
    height: 60vh;
    padding-left: -60px;
    padding-top: 10px;
    justify-content: center;
}

/*Team*/
.welcome{
    margin-top: -40px;
}
.welcome h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: salmon;
    margin-top: 20px;
}
.card{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.card{
    border-bottom: 8px solid salmon;
    background: #dad0c0;
    margin-bottom: 40px;
    width: 350px;
    position: relative;
    left: 70px;
}
/*Apply*/
#apply {
    background: white;
    border-radius: 1rem;
    margin: 100px;
    margin-left: 0px;
    padding: 100px;
    color:  #555;
}
#apply h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: black;
}
#apply p{
    font-family: 'Roboto Slab', serif;
    font-weight:  400;
    font-size: smaller;

}
#apply li{
    font-family: 'Roboto Slab', serif;
    font-weight:  400;
    font-size: smaller;

}
.apply_row img{
    max-width: 100%;
    height: 500px;
    padding-left: 30px;
    padding-top: 10px;
    position: relative;
    left: 20px;
    top: 50px;
}
.apply_row {
    padding-left: 50px;
    padding-bottom: 50px;
    margin-top: -100px;
    margin-bottom: -130px;
    
}

/*Form*/
.show-btn{
    background: salmon;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    
}
.close-btn{
    cursor: pointer;
    justify-content: right;
    position: absolute;
    left: 90%;
}
.close-btn:hover{
    color: rgb(20, 20, 161);
}
input[type="checkbox"]{
    display: none;
}
.container-form{
    position: relative;
    top: 45%;
    left: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    font-weight:  400;
    font-size: medium;

}
#show:checked ~ .container-form{
    display: block;
    align-items: center;
}
.container-form{
    display: none;
    background: salmon;
    width: 700px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    position: relative;
    left: 650px;
}
.h-text{
    font-family: 'Roboto Slab', serif;
    font-weight:  700;
    font-size: x-large;
    font-size: 30px;

}
.container form{
    margin: 5px 5px;
}
.data{
    margin: 30px auto;
}


.data-1{
    height: 40%;
    width: 50%;
    margin: 40px 0;
}
form .data-1 input{
    width: 100%;
    padding-left: 80px;
    margin-left: 50%;
    float:left;
}

input, label {
    margin: 5px 5px;
  }
  
  .form-group {
    margin: 5px auto;
  }

  .form-control {
    float:left;
  }
  
  #inputStreet{
    width: 50%;
  }
  
  #inputCity {
    width: 45%;
  }  

  #inputCounty {
    width: 50%;
  }

  #inputPostCode {
    width: 10%;
  }

  #inputFirstName {
    width: 45%;
  }
  #inputLastName {
    width: 50%;
  }
  #inputDob{
    width: 80%;
  }
.txtb textarea{
    width: 100%;
    border: none;
    background: #ebe4af;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
    color: black;
  }
.btn {
    display: block;
    background: #ebe4af;
    padding-left: 10px 0;
    color:grey;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 30%;
    position: relative;
    left: 200px;

}
#links {
    font-family: 'Roboto Slab', serif;
    font-weight:  400;
    background: #ebe4af;
    border-radius: 0.5rem;
    color: grey;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: -20px;
}
.fa-free-code-camp{
    color: #000000;
}
.fa-free-code-camp:hover{
    color: salmon;
}

footer {
    background-color: #7c7b7b;
    color: #d5d5d5;
    padding-top: 2rem;
    max-width: 100%;
    font-family: 'Roboto Slab', serif;
    font-weight:  400;
}
.counter{
    position: relative;
    left: 150px;
}

/* Mobile responsive */
@media screen and (max-width: 375px) {
    .navbar {
        border: 2px solid transparent;
        padding-bottom: 50px;
        padding-top: -100px;
    }

    .navbar-brand img{
        width: 80%;
        height: 50%;
        position: relative;
        left: 70px;
    }
    #about {
        padding: 0;
        padding-top: 100px;
        margin: 0;
        margin-bottom: 120px;
    }

    .about_row img{
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .about_row {
        padding-left: 50px;
        padding-bottom: 50px;
        margin-top: -100px;
        margin-bottom: -130px;
    }
    .card{
        border-bottom: 8px solid salmon;
        background: #dad0c0;
        margin-bottom: 40px;
        width: 350px;
        position: relative;
        left: auto;
       
    }
    #apply{
        margin: 0;
        padding: 0;
        padding-top: 100px;
        padding-bottom: 150px;
        margin-bottom: 50px;
    }
    #apply img{
        display: none;
    }
   
    /* form */
    .container-form {
        margin: 0;
        padding: 0;
        position: relative;
        left: 155px;
        margin-top: 40px;
        width: 100%;
    }
    .row{
       margin-right: auto;
    }

}

@media screen and (max-width: 1024px) and (min-width: 400px) {
    .navbar {
        border: 2px solid transparent;
        padding-bottom: 50px;
        padding-top: -100px;
    }

    .navbar-brand img{
        width: 30%;
        height: 30%;
        position: relative;
        left: 350px;
        margin-top: -30px;
    }
    #about {
        padding: 0;
        padding-top: 100px;
        margin: 0;
        margin-bottom: 120px;
    }

    .about_row img{
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .about_row {
        padding-left: 50px;
        padding-bottom: 50px;
        margin-top: -100px;
        margin-bottom: -130px;
    }
    .card{
        border-bottom: 8px solid salmon;
        background: #dad0c0;
        margin-bottom: 40px;
        width: 300px;
        position: relative;
        left: auto;
       
    }
    #apply{
        margin: 0;
        padding: 0;
        padding-top: 100px;
        padding-bottom: 150px;
        margin-bottom: 50px;
    }

   
    /* form */
    .container-form {
        margin: 0;
        padding: 0;
        position: relative;
        left: 480px;
        margin-top: 40px;
        width: 100%;
    }

    .btn {
        display: block;
        background: #ebe4af;
        padding-left: 10px 0;
        color:grey;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 8px;
        width: 100%;
        position: relative;
        left: 0px;
    
    }
    .txtb textarea{
        height: 10vh;
      }
    footer {
        position: relative;
        align-items: stretch;
    }

}